{% extends 'admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <div class="py-2 text-center">
        <div class="d-flex">
            <div>
                <a href="{{ path('admin_user_index') }}" class="btn btn-dark">Retour</a>
            </div>
            <div class="px-2">
                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
            </div>
            <div>
                {{ include('admin/user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Voir {{ user.nickname }}</div>
                    <div class="card-body">
                        <table class="table table-responsive table-borderless">
                            <tbody>

                            <tr>
                                <td>
                                    {% if user.avatar %}
                                        <img src="{{ user.imagePath|imagine_filter('thumbnail_medium') }}" class="rounded-circle" alt="Logo {{ user.nickname }}">
                                    {% else %}
                                        <i class="fa-regular fa-circle-user fa-2x text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Roles</th>
                                <td>
                                    {% for role in user.roles %}
                                        <span class="badge rounded-pill bg-dark">

                            {{ role|translateRole }}
                        </span>
                                    {% endfor %}
                            </tr>
                            <tr>
                                <th>Prénom</th>
                                <td>{{ user.firstName }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ user.lastName }}</td>
                            </tr>
                            <tr>
                                <th>Crée le</th>
                                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Mise à jour le</th>
                                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Slug</th>
                                <td>{{ user.slug }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
