<section class="hero-slide d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 text-center mx-auto">
                <div class="hero-section-text mt-5">
                    <form class="custom-form hero-form" action="#" method="get" role="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group align-items-center">
                                    <label for="product-name">Mot clef : </label>

                                    <input
                                        value="{{ app.request.get('q') }}"
                                        type="text"
                                        name="q"
                                        id="product-name"
                                        class="form-control"
                                        placeholder="Appartement meublé, Villa, Maison..."
                                    >
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="input-group align-items-center">
                                    <label for="prices">Types: </label>
                                    <select name="type" id="prices" class="form-select form-control" id="price-range" aria-label="Default select example">
                                        <option value=""></option>
                                        {% for tag in tags %}
                                            <option value="{{ tag.id }}" {{ (app.request.get('type') and app.request.get('type') == tag.id) ? 'selected'  }}>{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="input-group align-items-center">
                                    <label for="price-mix">Prix Min: </label>
                                    <input type="number" id="price-mix" name="priceMin" class="form-control" value="{{ app.request.get('priceMin') }}">
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="input-group align-items-center">
                                    <label for="price-max">Prix Max: </label>
                                    <input type="number" id="price-max" name="priceMax" class="form-control" value="{{ app.request.get('priceMax') }}">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger form-control custom-link">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Rechercher
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
