{% extends 'base.html.twig' %}

{% block title 'Liste des biens immobiliers'%}

{% block description %}
    Découvrez notre plateforme unique qui simplifie la recherche d'appartement ou de maison de location immobilières de qualité.
    Parcourez notre large sélection d'appartements, de maisons et de propriétés à louer dans votre région de préference.
    Notre plateforme conviviale vous permet de filtrer vos résultats selon vos critères préférés, que ce soit le type de logement, le budget, ou l'emplacement.
{% endblock %}

{% block body %}

    {% include 'home/_search_section.html.twig' %}

    <section class="shop-section section-padding" id="section_3">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <small class="section-small-title mt-2 mb-4">Liste des locations (<span class="tooplate-red">{{ missions.getTotalItemCount }}</span>)</small>

                </div>

                {% for mission in missions %}
                    <div class="col-lg-4 col-12 cs-position-relative">

                        {% if mission.tag %}
{#                            <div class="txt-nouvelles cat-post-titre vertical-text"><span>{{ mission.tags.first.name }}</span></div>#}
{#                            <div class="bg-primary"><span></span></div>#}
                            <div class="cs-echarpe">
                                <div class="cs-text">{{ mission.tag.name }}</div>
                            </div>
                        {% endif %}
                        <div class="shop-thumb">

                            <div class="shop-image-wrap">

                                <a href="{{ path('mission_show', { slug: mission.slug }) }}">
                                    {% if mission.images.first and mission.images.first.file %}
                                        <img class="shop-image img-fluid" src="{{ mission.images.first.file.imagePath|imagine_filter('thumbnail_homepage') }}" alt="Image {{ mission.title }}">
                                    {% else %}
                                        <img class="shop-image img-fluid" src="https://placehold.co/416x416/png" />
                                    {% endif %}

                                </a>

                                <div class="shop-icons-wrap">
                                    <div class="shop-icons d-flex flex-column align-items-center">
                                        <span
                                            class="shop-icon cs-cursor {{ mission.isLiked(app.request.clientIp) ? 'bi-heart-fill' : 'bi-heart' }}"
                                            data-url="{{ path('app_like') }}"
                                            data-mission-id="{{ mission.id }}">

                                        </span>
                                    </div>
                                    <p class="shop-pricing mb-0 mt-3">
                                        <span class="badge custom-badge">
                                            {{ mission.price }}
                                            <span title="{{ mission.devise }}">{{ getEmoji(mission.devise) }}</span>
                                        </span>
                                    </p>

                                </div>
                                <div class="homepage-cs-tag-ad d-flex justify-content-between">
                                    {% if mission.nbPiece %}
                                        <div>
                                            <span class="badge rounded-pill btn-immo">{{ mission.nbPiece }} Pièce{{ mission.nbPiece > 1 ? 's' }}
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if mission.nbRoom %}
                                        <div>
                                            <span class="badge rounded-pill btn-immo">{{ mission.nbRoom }} Chambre{{ mission.nbRoom > 1 ? 's' }}
                                            </span>
                                        </div>
                                    {% endif %}

                                    {% if mission.nbSalleBain %}
                                        <div>
                                            <span class="badge rounded-pill btn-immo">{{ mission.nbSalleBain }} Salle{{ mission.nbSalleBain > 1 ? 's' }} de bain
                                            </span>
                                        </div>
                                    {% endif %}

                                    {% if mission.surface %}
                                        <div>
                                            <span class="badge rounded-pill btn-immo">Surface : {{ mission.surface }} m²
                                            </span>
                                        </div>
                                    {% endif %}

                                </div>


                                <div class="shop-btn-wrap">
                                    <a href="{{ path('mission_show', { slug: mission.slug }) }}" class="shop-btn custom-btn btn d-flex align-items-center align-items-center" title="Voir {{ mission.title }}">Plus d'infos</a>
                                </div>
                            </div>

                            <div class="shop-body">
                                <a href="{{ path('mission_show', { slug: mission.slug }) }}" title="Voir {{ mission.title }}" class="custom-link">
                                    <h4>{{ mission.title }}</h4>
                                </a>

                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-lg-12 col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {{ knp_pagination_render(missions) }}
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
