<section class="shop-detail-bar section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-md-10 col-12 d-flex">

                {% if mission.isOwner(app.user) %}
                    <p class="shop-detail-bar-wrap d-flex flex-wrap mb-0">
                        <a href="{{ path('admin_mission_edit', {id: mission.id}) }}" class="btn btn-primary" title="Modifier l'annonce">
                            <i class="fa fa-edit"></i>
                            Modifier
                        </a>
                        &nbsp; &nbsp; &nbsp;
                    </p>
                {% endif %}
                <p class="shop-detail-bar-wrap d-flex flex-wrap mb-0">
                    <strong class="me-2">Prix :</strong>

                    <strong class="shop-pricing-text">{{ mission.price }} €</strong>
                </p>

                <p class="shop-detail-bar-wrap d-flex flex-wrap ms-lg-2 ms-0 mb-0 d-none d-sm-block justify-content-between">
                    <span> &nbsp; | &nbsp; &nbsp;</span>

                    {% if mission.nbPiece %}
                        <div class="mx-1">
                                            <span class="badge rounded-pill btn-immo">{{ mission.nbPiece }} Pièce{{ mission.nbPiece > 1 ? 's' }}
                                            </span>
                        </div>
                    {% endif %}
                    {% if mission.nbRoom %}
                        <div class="mx-1">
                                            <span class="badge rounded-pill btn-immo">{{ mission.nbRoom }} Chambre{{ mission.nbRoom > 1 ? 's' }}
                                            </span>
                        </div>
                    {% endif %}

                    {% if mission.nbSalleBain %}
                        <div class="mx-1">
                                            <span class="badge rounded-pill btn-immo">{{ mission.nbSalleBain }} Salle{{ mission.nbSalleBain > 1 ? 's' }} de bain
                                            </span>
                        </div>
                    {% endif %}

                    {% if mission.surface %}
                        <div class="ml-1">
                                            <span class="badge rounded-pill btn-immo">Surface : {{ mission.surface }} m²
                                            </span>
                        </div>
                    {% endif %}
                    </p>
                {% if mission.district %}

                    <p class="shop-detail-bar-wrap d-flex flex-wrap ms-lg-3 ms-4 mb-0 d-none d-sm-block">
                        <span> &nbsp;&nbsp; | &nbsp; &nbsp;</span>
                        <strong class="me-2">Localisation :</strong>

                        <small class="shop-condition-text">
                            <b> {{ mission.district.name }} - {{ mission.city.name }}</b>
{#                            {% if mission.city %}#}
{#                                ( {{ mission.city.country.name }} )#}
{#                            {% endif %}#}
                        </small>
                    </p>
                {% endif %}
            </div>

            <div class="col-lg-2 col-md-2 col-12 social-share d-flex align-items-center ms-lg-auto mt-3 mt-lg-0 mt-md-0">
                <p class="mb-0 me-3 ms-lg-auto ms-md-auto">
                    <strong>Publié :</strong>
                </p>

                <ul class="social-icon">

                    <li class="social-icon-item">
                        <i class="social-icon-link"></i>

                        {{ mission.createdAt|ago }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
