<section class="featured-section section-padding">

        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center custom-block featured-custom-block">
                    <div>
                        {% if mission.user.avatar %}
                            <img src="{{ mission.user.imagePath|imagine_filter('thumbnail_medium') }}" class="rounded-circle" alt="Logo {{ mission.user.nickname }}">
                        {% else %}
                            <i class="fa-regular fa-circle-user fa-6x" style="color: #cf6950"></i>
                        {% endif %}

                        <p class="section-small-title mt-1 text-center">{{ mission.user.nickname }}</p>
                    </div>
                    <div class="ml-4">
                        <h4 class="mt-2 mb-4">Contact</h4>

                        <div class="d-flex">

                            <div>

                                {% for contact in contacts %}
                                    <p class="mb-2">
                                        <i class="{{ contact.classe }} me-1 text-danger"></i>
                                        {{ contact.label|capitalize }} :
                                        <strong class="d-inline">
                                            <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
                                        </strong>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
