{% extends 'base.html.twig' %}

{% block title %}Mission{% endblock %}
{% block description %}
    {{ mission.content|truncate(200)|raw }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('./assets/splide/dist/css/splide.min.css') }}" rel="stylesheet">

{#    <style>#}
{#        .my-carousel-progress {#}
{#            background: #ccc;#}
{#        }#}

{#        .my-carousel-progress-bar {#}
{#            background: #0d0e0c;#}
{#            height: 2px;#}
{#            transition: width 400ms ease;#}
{#            width: 0;#}
{#        }#}
{#    </style>#}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('./assets/splide/dist/js/splide.min.js') }}"></script>
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var splide = new Splide('.splide', {
                type: 'loop',
                snap: true,
                width: '100%',
                // height: '80%',
                gap: '20px',
                focus: 'center',
                perPage: 1,
                autoplay: true,
                interval: 1500,
                autoWidth: true,
                autoHeight: true,
                breakpoints: {
                   600:  {
                        perPage: 1
                   }
                }
            });
            // var bar    = splide.root.querySelector( '.my-carousel-progress-bar' );
            //
            // splide.on( 'mounted move', function () {
            //     var end  = splide.Components.Controller.getEnd() + 1;
            //     var rate = Math.min( ( splide.index + 1 ) / end, 1 );
            //     bar.style.width = String( 100 * rate ) + '%';
            // } );

            splide.mount();
        } );
    </script>
{% endblock %}


{% block body %}
    <header class="site-header d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <h1 class="text-white">{{ mission.title }}</h1>
                </div>

            </div>
        </div>
    </header>

    {% include 'mission/_header.html.twig' %}

    <section class="shop-detail-section section-padding">
        <div class="container">
            <div class="row">

                <section class="splide col-lg-6 col-12" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in mission.images %}
                                <li class="splide__slide">
                                    <a href="{{ path('front_mission_consulte_image', {
                                        id: image.file.id,
                                        missionSlug: mission.slug
                                    }) }}">
                                        <img src="{{ image.file.imagePath|imagine_filter('thumbnail_big') }}" class="shop-image img-fluid" alt="Image {{ mission.title }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="my-carousel-progress">
                        <div class="my-carousel-progress-bar"></div>
                    </div>
                </section>

                <div class="col-lg-6 col-12 m-auto">

                    <div class="col-12 custom-block shop-detail-custom-block">
                        <h3 class="mb-3">{{ mission.title }}</h3>

                        {{ mission.content|raw }}
                    </div>

                    <div class="col-12">
                        {% if show_info %}
                            {% include 'mission/_show_info_contact.html.twig' %}
                        {% else %}
                            <div>
                                {% include 'mission/_form_contact.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                    {#                    <div class="col-12">#}
                    {#                        {% include 'mission/_show_info_contact_messagerie.html.twig' %}#}
                    {#                    </div>#}
                </div>

            </div>
        </div>
    </section>

{#    <div class="my-4">#}
{#        <div class="text-center">#}

{#            {% if not app.user %}#}
{#                Vous souhaitez évaluer cette mission ? Pas de problème, il vous suffit de <a href="{{ path('app_login') }}">vous connecter</a> ou de#}
{#                <a href="{{ path('app_register') }}">créer un compte</a> si vous n'en possédez pas encore.#}
{#            {% elseif not mission.checkIfCurrentUserHasPublishedReviewForThisMission(app.user) %}#}
{#                {% if mission.reviews.count %}#}
{#                    <a href="{{ path('review_new', {slug: mission.slug}) }}" class="btn btn-primary" title="Cliquez ici pour poster un avis">Évaluer cette mission</a>#}
{#                {% else %}#}
{#                    <a href="{{ path('review_new', {slug: mission.slug}) }}" class="btn btn-primary" title="Cliquez ici pour poster un avis">Soyez le premier à donner votre avis sur cette mission</a>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

{#    {% if mission.reviews.count %}#}
{#        {% include 'mission/_reviewed.html.twig' %}#}
{#    {% endif %}#}

{% endblock %}
