{% extends 'admin.html.twig' %}

{% block title %}Voir ville '{{ city.name }}'{% endblock %}

{% block body %}

    <div class="text-center">
        <div class="my-3">
            <a href="{{ path('admin_city_index') }}" class="btn btn-dark">Retour</a>
            &nbsp;
            <a href="{{ path('admin_city_edit', {'id': city.id}) }}" class="btn btn-primary">Modifier</a>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">{{ block('title') }}</div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ city.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom ville</th>
                                <td>{{ city.name }}</td>
                            </tr>

                            <tr>
                                <th>Nom Pays</th>
                                <td>{{ city.country ? city.country.name : '-' }}</td>
                            </tr>
                            <tr>
                                <th>Date de création</th>
                                <td>{{ city.createdAt ? city.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="mt-4 text-right">
                        {{ include('admin/city/_delete_form.html.twig') }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
