{{ form_start(form) }}
        <div class="mb-4">
            <h6 class="font-weight-bold">
                Nom<sup class="text-danger">*</sup>
            </h6>
            <p class="text-muted">
                Type de contact
            </p>
            <div class="form-group">
                {{ form_errors(form.label) }}
                <div class="input-group mb-3 border border-light rounded">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-0 bg-white">🗣</span>
                    </div>
                    {{ form_widget(form.label, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
            </div>
        </div>
        <div class="mb-4">
            <h6 class="font-weight-bold">
                Référence<sup class="text-danger">*</sup>
            </h6>
            <p class="text-muted">
                Classe de font awesome
            </p>
            <div class="form-group">
                {{ form_errors(form.classe) }}
                <div class="input-group mb-3 border border-light rounded">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-0 bg-white">🗄</span>
                    </div>
                    {{ form_widget(form.classe, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
                <p class="text-muted">
                    {{ form_help(form.classe) }}
                </p>
            </div>
        </div>

        <div class="mb-4">
            <h6 class="font-weight-bold">
                Scope<sup class="text-danger">*</sup>
            </h6>
            <p class="text-muted">

            </p>
            <div class="form-group">
                {{ form_errors(form.scope) }}
                <div class="input-group mb-3 border border-light rounded">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-0 bg-white">❔</span>
                    </div>
                    {{ form_widget(form.scope, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
                <p class="text-muted">
                    {{ form_help(form.scope) }}
                </p>
            </div>
        </div>

        <div class="js-loader d-none"></div>

        <div class="mb-4">
            <h6 class="font-weight-bold">
                Phone<sup class="text-danger"></sup>
            </h6>
            <p class="text-muted">

            </p>
            <div class="form-group">
                {{ form_errors(form.phone) }}
                <div class="input-group mb-3 border border-light rounded">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-0 bg-white">📱</span>
                    </div>
                    {{ form_widget(form.phone, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
                <p class="text-muted">
                    {{ form_help(form.phone) }}
                </p>
            </div>
        </div>

        <div class="mb-4">
            <h6 class="font-weight-bold">
                Link<sup class="text-danger"></sup>
            </h6>
            <p class="text-muted">

            </p>
            <div class="form-group">
                {{ form_errors(form.link) }}
                <div class="input-group mb-3 border border-light rounded">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-0 bg-white">🔗</span>
                    </div>
                    {{ form_widget(form.link, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
                <p class="text-muted">
                    {{ form_help(form.link) }}
                </p>
            </div>
        </div>

        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        <div class="mb-4">
            <h6 class="font-weight-bold">
                Visibilité
            </h6>
            <div class="form-group">
                {{ form_errors(form.visibility) }}
                <div class="input-group mb-3 border border-light rounded">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-0 bg-white"></span>
                    </div>
                    {{ form_widget(form.visibility, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-primary next-btn" type="submit">
                <i class="fa-solid fa-paper-plane"></i>
                Soumettre
            </button>
        </div>
{{ form_end(form) }}
