{% extends 'admin.html.twig' %}

{% import 'macros/_macro_upload.html.twig' as upload %}

{% block title %}Nouveau service{% endblock %}


{% block body %}

    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                {{ form_start(form) }}
                    <div class="card card-primary">
                        <div class="card-header">Nouveau service</div>
                        <div class="card-body">
                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Titre<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Titre de votre prestation.
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.title) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">🗣</span>
                                        </div>
                                        {{ form_widget(form.title, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Catégories<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Choisisez une ou plusieurs catégories.
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.tags) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">📂</span>
                                        </div>
                                        {{ form_widget(form.tags, {
                                            attr: {
                                                class: 'form-control js-select2'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Contenu<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Une petite description de votre prestation, ça fait toujours plaisir au client.
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.content) }}
                                    <div class=" mb-3 border border-light rounded">
                                        {{ form_widget(form.content, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Aménagement<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Votre bien est-il meublé ?
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.isFurnished) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">🏡</span>
                                        </div>
                                        {{ form_widget(form.isFurnished, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Surfaces<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Superficie de votre bien ?
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.surface) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">
                                                📏
                                            </span>
                                        </div>
                                        {{ form_widget(form.surface, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Chambres<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Nombre de chambres dans votre bien ?
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.nbRoom) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">
                                                🔢
                                            </span>
                                        </div>
                                        {{ form_widget(form.nbRoom, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Pièces<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Nombre de pièces dans votre bien ?
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.nbPiece) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">
                                                🏘
                                            </span>
                                        </div>
                                        {{ form_widget(form.nbPiece, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Salle de bain<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Nombre de salles de bain y a-t-il dans votre bien ?
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.nbSalleBain) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">
                                                🛀
                                            </span>
                                        </div>
                                        {{ form_widget(form.nbSalleBain, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Prix<sup class="text-danger">*</sup>
                                </h6>
                                <p class="text-muted">
                                    Indiquez le prix pour ce service, c’est-à-dire le prix de la prestation que vous vendez.
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.price) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">💰</span>
                                        </div>
                                        {{ form_widget(form.price, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col">
                                    {{ form_label(form.images, "Photos de l'annonce : ") }}
                                    {{ form_errors(form.images) }}

                                    <div id="image-fields-list"
                                         data-prototype="{{ upload.printExperience(form.images.vars.prototype)|e('html_attr')}}"
                                         data-widget-tags="{{ '<div class="row js-upload-images"></div>'|e }}"
                                         data-widget-counter="{{ form.images|length }}">
                                        {% for image in form.images %}
                                            {{ upload.printExperience(image, true) }}
                                        {% endfor %}
                                    </div>

                                    <button type="button"
                                            class="add-another-collection-widget btn-sm btn-success"
                                            data-list-selector="#image-fields-list">
                                        <span class="fa fa-plus-square"></span>
                                        Ajouter une photo
                                    </button>
                                </div>
                            </div>
                            <hr>

{#                            <div class="mb-4">#}
{#                                <h6 class="font-weight-bold">#}
{#                                    Pays#}
{#                                </h6>#}
{#                                <p class="text-muted">#}
{#                                    Choisissez un pays.#}
{#                                </p>#}
{#                                <div class="form-group">#}
{#                                    {{ form_errors(form.price) }}#}
{#                                    <div class="input-group mb-3 border border-light rounded">#}
{#                                        <div class="input-group-prepend">#}
{#                                            <span class="input-group-text border-0 bg-white">🌍</span>#}
{#                                        </div>#}
{#                                        {{ form_widget(form.country, {#}
{#                                            attr: {#}
{#                                                class: 'form-control js-select2',#}
{#                                                style: 'width:94%'#}
{#                                            }#}
{#                                        }) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Ville
                                </h6>
                                <p class="text-muted">
                                    Choisissez une ville.
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.price) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white">🌍</span>
                                        </div>
                                        {{ form_widget(form.city, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Quartier
                                </h6>
                                <p class="text-muted">
                                    Choisissez une quartier.
                                </p>
                                <div class="form-group">
                                    {{ form_errors(form.district) }}
                                    <div class="input-group mb-3 border border-light rounded">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0 bg-white js-loader">🏫</span>
                                        </div>
                                        {{ form_widget(form.district, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            {% form_theme form 'bootstrap_4_layout.html.twig' %}

                            <div class="mb-4">
                                <h6 class="font-weight-bold">
                                    Publication
                                </h6>
                                <div class="form-group">
                                    {{ form_errors(form.published) }}
                                    <div class="input-group border border-light rounded pl-2">
                                        {{ form_widget(form.published, {
                                            attr: {
                                                class: 'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-3">
                                <button class="btn btn-primary next-btn">
                                    <i class="fa-solid fa-paper-plane"></i>
                                    Soumettre le service
                                </button>
                            </div>
                        </div>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $sport = $('#service_city');
        $sport.change(function() {

            $('.js-loader').addClass('spinner-border')

            var $form = $(this).closest('form');

            var data = {};
            data[$sport.attr('name')] = $sport.val();

            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#service_district').replaceWith(
                        $(html).find('#service_district')
                    );

                    $('#service_district').css('width', '93%');

                    $('#service_district').select2();

                    setTimeout(function () {
                        $('.js-loader').removeClass('spinner-border')
                    }, 500);
                }
            });
        });

        window.addEventListener('load', (event) => {
            let form_has_error = '{{ show_updaded_image }}';

            if (form_has_error != 0) {
                document
                    .querySelectorAll('.js-show-element')
                    .forEach((tag) => {
                        triggerEvent(tag, 'click')
                    });
            }

            function triggerEvent(el, eventName, options) {
                var event;
                if (window.CustomEvent) {
                    event = new CustomEvent(eventName, options);
                } else {
                    event = document.createEvent('CustomEvent');
                    event.initCustomEvent(eventName, true, true, options);
                }
                el.dispatchEvent(event);
            }

        });
    </script>
{% endblock %}
