{% extends 'admin.html.twig' %}

{% block title %}Liste des quartiers{% endblock %}

{% block body %}

    <div class="pt-3 text-center">
        <a href="{{ path('admin_district_new') }}" class="btn btn-secondary">Nouvelle Quartier</a>
    </div>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">

                <div class="card card-primary">
                    <div class="card-header">Liste des quartiers</div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom Quartier</th>
                                <th>Nom ville</th>
                                <th>Nom pays</th>
                                <th>Date de création</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for district in districts %}
                                <tr>
                                    <td>{{ district.id }}</td>
                                    <td>{{ district.name }}</td>
                                    <td>{{ district.nameCity }}</td>
                                    <td>{{ district.nameCountry }}</td>
                                    <td>{{ district.createdAt ? district.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('admin_district_show', {'id': district.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                                            Voir
                                        </a>

                                        &nbsp;
                                        |
                                        &nbsp;
                                        <a href="{{ path('admin_district_edit', {'id': district.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                            Modifier
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Pas de quartier disponible</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
