{% extends 'admin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

        <div class="pt-3 text-center">
            <a href="{{ path('admin_tag_new') }}" class="btn btn-secondary">Nouvelle catégorie</a>
        </div>
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">Liste des catégories</div>
                        <div class="card-body">

                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>date de création</th>
                                    <th>Contenu</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tag in tags %}
                                    <tr>
                                        <td>{{ tag.name }}</td>
                                        <td>{{ tag.createdAt ? tag.createdAt|ago : '' }}</td>
                                        <td>{{ tag.content|truncate(200)|raw }}</td>
                                        <td>
                                            <a href="{{ path('admin_tag_show', {'id': tag.id}) }}">Voir</a>
                                            <a href="{{ path('admin_tag_edit', {'id': tag.id}) }}">Modifier</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Pas de catégorie disponible</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}
