<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('admin_index') }}" class="nav-link">
                <i class="fa fa-dashboard"></i>
                Dashboard</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('home') }}" class="nav-link">
                <i class="fa fa-globe"></i>
                Aller sur le site
            </a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
{#        <li class="nav-item">#}
{#            <a class="nav-link" data-widget="navbar-search" href="#" role="button">#}
{#                <i class="fas fa-search"></i>#}
{#            </a>#}
{#            <div class="navbar-search-block">#}
{#                <form class="form-inline">#}
{#                    <div class="input-group input-group-sm">#}
{#                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">#}
{#                        <div class="input-group-append">#}
{#                            <button class="btn btn-navbar" type="submit">#}
{#                                <i class="fas fa-search"></i>#}
{#                            </button>#}
{#                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">#}
{#                                <i class="fas fa-times"></i>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </li>#}


        <!-- Notifications Dropdown Menu -->
{#        <li class="nav-item dropdown">#}
{#            <a class="nav-link" data-toggle="dropdown" href="#">#}
{#                <i class="far fa-bell"></i>#}
{#                <span class="badge badge-warning navbar-badge">15</span>#}
{#            </a>#}
{#            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">#}
{#                <span class="dropdown-item dropdown-header">15 Notifications</span>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a href="#" class="dropdown-item">#}
{#                    <i class="fas fa-envelope mr-2"></i> 4 new messages#}
{#                    <span class="float-right text-muted text-sm">3 mins</span>#}
{#                </a>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a href="#" class="dropdown-item">#}
{#                    <i class="fas fa-users mr-2"></i> 8 friend requests#}
{#                    <span class="float-right text-muted text-sm">12 hours</span>#}
{#                </a>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a href="#" class="dropdown-item">#}
{#                    <i class="fas fa-file mr-2"></i> 3 new reports#}
{#                    <span class="float-right text-muted text-sm">2 days</span>#}
{#                </a>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>#}
{#            </div>#}
{#        </li>#}
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
{#        <li class="nav-item">#}
{#            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">#}
{#                <i class="fas fa-th-large"></i>#}
{#            </a>#}
{#        </li>#}
    </ul>
</nav>

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('admin_index') }}" class="brand-link">
        <span class="brand-text">Admin</span>
    </a>

    {% set route_name = app.request.attributes.get('_route') %}

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="{{ path('admin_mission_index') }}" class="nav-link  {{ route_name starts with 'admin_mission_' ? 'active' }}">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            Annonces
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="{{ path('admin_tag_index') }}" class="nav-link {{ route_name starts with 'admin_tag_' ? 'active' }}">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>
                            Catégories
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('admin_linking_index') }}" class="nav-link {{ route_name starts with 'admin_linking_' ? 'active' }}">
                        <i class="nav-icon fas fa-link"></i>
                        <p>
                            Contacts
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('admin_reservation_index') }}" class="nav-link {{ route_name starts with 'admin_reservation_' ? 'active' }}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Réservation
                        </p>
                    </a>
                </li>



                <li class="nav-item {{
                    ( route_name starts with 'admin_country_'
                    or route_name starts with 'admin_city_'
                    or route_name starts with 'admin_district_' ) ? 'menu-open'
                }}">
                    <a href="#" class="nav-link
                    {{
                        ( route_name starts with 'admin_country_'
                        or route_name starts with 'admin_city_'
                        or route_name starts with 'admin_district_' ) ? 'active'
                    }}
                    ">
                        <i class="nav-icon fas fa-location"></i>
                        <p>
                            Localisation
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item pl-3">
                            <a href="{{ path('admin_country_index') }}" class="nav-link {{ route_name starts with 'admin_country_' ? 'active' }}">
                                <i class="fas fa-globe"></i>
                                <p>Pays</p>
                            </a>
                        </li>
                        <li class="nav-item pl-3">
                            <a href="{{ path('admin_city_index') }}" class="nav-link {{ route_name starts with 'admin_city_' ? 'active' }}">
                                <i class="fas fa-city"></i>
                                <p>Ville</p>
                            </a>
                        </li>
                        <li class="nav-item pl-3">
                            <a href="{{ path('admin_district_index') }}" class="nav-link {{ route_name starts with 'admin_district_' ? 'active' }}">
                                <i class="far fa-building"></i>
                                <p>Quartier</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a href="{{ path('admin_user_index') }}" class="nav-link {{ route_name starts with 'admin_user_' ? 'active' }}">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>
                            Utilisateurs
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('admin_about_index') }}" class="nav-link {{ route_name starts with 'admin_about_' ? 'active' }}">
                        <i class="nav-icon fas fa-pager"></i>
                        <p>
                            Page A propos
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">
                        <i class="nav-icon fas fa-ellipsis-h"></i>
                        <p>
                            Déconnexion
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
